extends layout

block content
  nav.nav-bar
    a.nav-item.col-xs-3(href="/") Home
      i.fa.fa-home(aria-hidden='true')
    a.nav-item.col-xs-3(href="/account") My Account
      i.fa.fa-user(aria-hidden='true')
    a.nav-item.col-xs-3(href="/about") About
      i.fa.fa-info(aria-hidden='true')
    a.nav-item.col-xs-3(href="/contact") Contact us
      i.fa.fa-phone(aria-hidden='true')
  h1= title
  p let's do some testing...
  footer.footer All rights reserved &copy; to 
    a(href="mailto:vops.dev@gmail.com") Eithan Reubens

