extends layout

block content
  if(message)
    h1= message
    h2= error.status
    pre #{error.stack}
  if(!message)
    h1 Error:
    h3= err
  .back-home Back to 
    a(href="/") Home page
  .back-login Back to 
    a(href="/account") login page